.basicInfo__form__select,
.basicInfo__container {
    width: 50%;
}

.basicInfo__form {
    width: 90%;
}

.row {
    flex-direction: column;
}

@media (max-width: 450px) {
    .basicInfo-container {
        width: 100%;
    }
}